
body {
  margin: 0;
  padding: 0;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 0 30px;

  background: black;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 1000;
}


.logo {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #00bfff;
  cursor: pointer;
}


.navlinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap:40px;

  margin: 0;
  padding: 0;
}

.navlinks li {
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}


.navlinks li:hover {
  color: #00bfff;
}


.signup {
  padding: 10px 22px;
  border-radius: 25px;
  background: linear-gradient(135deg, #00bfff, #007bff);
  color: white;
  font-weight: 700;
  transition: 0.3s ease;
}


.signup:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 15px rgba(0, 191, 255, 0.6);
}

.login{
    padding: 10px 22px;
  border-radius: 25px;
  background: linear-gradient(135deg, #00bfff, #007bff);
  color: white;
  font-weight: 700;
  transition: 0.3s ease;
}

.login:hover {
  transform: scale(1.07);
  box-shadow: 0px 0px 15px rgba(0, 191, 255, 0.6);
}


.homepic {
  height: 100vh ;
  width: 100%;

  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  padding-left: 80px;

  position: relative;
}

.homepic::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.tagline {
  position: relative;
  z-index: 1;

  color: white;
  font-size: 58px;
  font-weight: 900;
  max-width: 520px;
  line-height: 1.15;
  text-transform: uppercase;
}

.hero {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}




.start {
  padding: 12px 28px;
  background: #00bfff;
  color: white;
  font-size:medium;
  font-weight: 700;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 1;
}

.start:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 191, 255, 0.6);
}



